
* {
  box-sizing: border-box;
}

/*******************************PINK DESIGN******************************/
body {
  font: 20px Lato;
  font-family: Lato;
  margin: 0;
  color:#24292e;
}

/* Main column */
.main {
  flex: 80%;
  background-color: #F5F5F5;
  padding-left:50px;
  padding-bottom:0px;
}
H1
{
color: #C66AAB;
font: 55px Courgette;
padding-top: 40px;
padding-bottom: 0px;
padding-left: 30px;
margin-top:0px;
margin-bottom:0px;
}

H1.intro
{
color: #C66AAB;
font: 55px Courgette;
padding-bottom:0px;
padding-left:30px;
}


H4
{

}
H5
{
  color: #24292e;
  font: 12px Courgette;
  font-style: italic;
}






H2
{
  color: #C66AAB;
  font: 26px Courgette;
  padding-top:0px;
  margin-top:0px;
}

H3
{
  color: #C66AAB;
  font: 20px Courgette;
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #C66AAB; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  padding-top:0px;
  padding-left:20px;
  margin-top:0px;

  /*margin-left: -1em; /* Also needed for space (tweak if needed) */
}

ul {
  list-style: none; /* Remove default bullets */
}

/*.side ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #;
  height: 100%; /* Full height */
  /*position: fixed; /* Make it stick, even on scroll */
  /*overflow: auto; /* Enable scrolling if the sidenav has too much content */

.profile-list ul li .intro{
margin-left:20px;
padding-left:20px;

}



.bg_pink{
  flex: 70%;
  background-color: #F2E9F2;
  margin: 0px;
  padding: 50px;
}


.pink_bt a {
  color: #F2E9F2;
  text-decoration: none;

}
.pink_bt a:hover {
  color: #C66AAB;
  text-decoration: none;

}

.pink_bt {
  border-radius: 8px;
  background-color: #C66AAB; /* LYS PINK */
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 100px;
  cursor: pointer;
  transition-duration: 0.4s;
}



.pink_bt:hover {
  border-radius: 8px;
  background-color: #F2E9F2; /* PINK */
  border: 1px solid #C66AAB;
  color: #C66AAB;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 100px;
  cursor: pointer;
  transition-duration: 0.4s;

}

.pink-frame {
  width: 200px;
  height: 300px;
  border-radius: 50px 0 50px 0;
  border: 6px solid #C66AAB; /* PINK */
  object-fit: cover;
}
.column p img {
  width:100%;
  height:auto;
  border-radius: 50px 0 50px 0;
  border: 6px solid #C66AAB; /* PINK */
  object-fit: cover;
}


/*******************************PINK DESIGN******************************/

/* Style the body */


/*skalerer billedet i rigtige propertioner*/
img {
  width: 100%;
  height: auto;
}

.flex-container-intro {
 display: flex;
 flex-wrap: wrap;
 background-color:;
 padding-bottom: 50px;
}

.img_profile {
padding-top:50px;

}
.profile-list {
  padding-top:0px;
  margin-top:0px;
  line-height: 30px;

}

.flex-container-intro-cv {
 display: flex;
 flex-wrap: wrap;
 padding-bottom: 50px;
}

.flex-container-intro-cv > div {
 flex: 50%;
 padding-right:50px;
 padding-top:0px;
 margin-top:0px;
}

.intro-left {
padding-top:0px;
margin-top:0px;
}

.intro-right{
padding-top:0px;
margin-top:0px;
}



/* Style the top navigation bar */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #24292e;

}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 50px 50px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  /*background-color: #C66AAB;*/
  background-color: #707070;
}




.intro_text_cv {
padding-top: 100px;
}
/* Header/logo Title */
.header {
  width: 100%;
  height: auto;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right:0px;
  padding-right:0px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 20%;
  background-color: #F1F1F1;
  padding: 20px;
}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding-bottom: 40px;
  padding-right:40px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  height:50px;
  padding-top:10px;
  text-align: center;
  background: #24292e;
  color: #F5F5F5;
  font-size: 12px;
  font: Lato;

}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {
    flex-direction: column;
  }
}
@media screen and (max-width: 1200px) {
  .online_cv {
    display:none;
  }
}
